.wrapper {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.view-change-button {
	margin: 0 .5rem;
}

.pitch {
	height:80%;
}

.pitch-img {
	background-color: green;
	width: 600px;
	height: 900px;
}

.pitch, .list {
	width: 90%;
	
}

table {
	width: 100%;
}