.wrapper {
	padding-top: 1rem;
	padding-bottom: 2rem;
}

.view-change-button {
	margin: 0 .5rem;
}

.pitch-view {
	width: 90%;
}

.pitch-wrapper {
	width: 750px;
	height: 700px;
}

.pitch-img {
		width: 100%;
	}

.list-view {
	width: 90%;
}

table {
	width: 100%;
}

tr.mat-header-row, tr.mat-row {
  height: 50px;
}